#mainapp{
    position:relative;
    right:0;
    opacity: 1;
    transition: opacity 1s, right 1s;
 
}

#maintext{
    padding-bottom: 10px;
}

button{
    padding: 0 5px;
}

body, html {
    overflow-x: hidden;
}